body {
    background-color: #f8f9fa;
    color: #343a40;
}

.navbar {
    background-color: #007bff;
    color: white;
}

.jumbotron {
    background-image: url('https://images.unsplash.com/photo-1559511124-aaccf50b90d5?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    /* Add your background image URL */
    background-size: cover;
    color: white;
    text-align: center;
    padding: 100px;
}

.features {
    padding: 50px 0;
}

.feature-box {
    text-align: center;
    margin-bottom: 20px;
    color: purple;
}

.card-img-hover {
    transition: transform 0.2s;
}

.card-img-hover:hover {
    transform: scale(1.1);
}

.gallery {
    padding: 20px 0;
}

.gallery-item img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: transform 0.2s;
}

.gallery-item img:hover {
    transform: scale(1.1);
}


.footer {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 20px 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.get-in-touch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.left-content {
    flex: 1;
}

.right-content {
    flex: 1;
    padding-left: 50px;
}

h3 {
    font-size: 24px;
    font-weight: bold;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

form {
    max-width: 400px;
    margin: auto;
}

label {
    display: block;
    margin-bottom: 6px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}